<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actores</title>
    <link rel="stylesheet" href="/static/main.css">
</head><body>
    <h1>Actores:</h1>
    <hr>
    <ul>
        {% for actor in actores %}
           <li><a href="{{ url_for('detalleActor.detalle', id=detalleActor['id']) }}"></a>{{actor['last_name']}} {{actor['first_name']}}</li>
           {% endfor %}
        
    </ul>


</body></html>
