{% extends 'base.html'%}
{% block titulo %}Actor{% endblock %}
{% block encabezado %} {{ pelicula['title'] }} {% endblock %}
{% block contenido %} 
    <p>Descripcion:  {{ pelicula['description'] }}</p>
    <p>Duracion: {{pelicula['length']}} min</p>
    <p>Clasificacion:{{ pelicula['rating'] }}</p>
    <p>Idioma:<a href="{{ url_for('lenguaje.detalle', id=pelicula['language_id']) }}"> {{pelicula['language']}}</a></p>
    <hr>
    <h2>Actores:</h2>
    <ul>
        {% for actor in actores %}
           <li><a href="{{ url_for('actor.detalle', id=actor['actor_id']) }}">{{ actor['first_name'] }} {{ actor['last_name']}}</a></li>
           {% endfor %}

    {% endblock %}
        
    </ul>


</body></html>