html { font-family:Arial, Helvetica, sans-serif; background: #7090d6; padding: 1rem; }
body { max-width: 960px; margin: 0 auto; background: rgba(133, 161, 219, 0.877); }
h1 { font-family: serif; color: hwb(0 2% 98%); margin: 1rem 0; }
a { color: hsl(0, 0%, 2%); }
hr { border: none; border-top: 1px solid rgb(0, 0, 0); }
